# Ignore node modules and build output
node_modules
*.log
build
dist
.svelte-kit

# Ignore local development files
.DS_Store
.env
.env.local
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea
.vscode
build

# Ignore Git files
.git
.gitignore

# Ignore Docker-specific files
.dockerignore
Dockerfile


# Ignore document files
README.md
CONTRIBUTE.md